{% extends "layout.html" %}

{% block body %}
<div class="content">

  <form action="/update_setting" method="POST">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label>対象のフォルダ</label>
        <input class="form-control" type="text" name="read_path" placeholder="read_path" value="X:\aisin_image\乗車前(谷)\18日納品\20191118_1\VideoData_CAM4_CAM5\正面図\第一必要ファイル">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label>移動先フォルダ名</label>
        <input class="form-control" type="text" placeholder="type1" value="隠れていない" name="type1">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label>移動先フォルダ名</label>
        <input class="form-control" type="text" placeholder="type2" value="隠れている" name="type2">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label>開始カウント</label>
        <input class="form-control" type="number" placeholder="type2" value="0" name="save_count">
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label>出力ファイル名</label>
        <input class="form-control" type="text" placeholder="output" value="output.json" name="output">
      </div>
    </div>

    
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button class="btn btn-primary btn-round" type="submit">Update Setting</button>
      </div>  
    </div>
  
  </form>


</div>


      
{% endblock %}
