{% extends "layout.html" %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          ダブルガーゼハンカチ★ハンドメイド★２枚セット
          <hr>
          <img data-src="https://static.mercdn.net/thumb/photos/m24123911476_1.jpg?1580644553" class=" lazyloaded" alt="(35)ダブルガーゼハンカチ★ハンドメイド★２枚セット＊＊複数購入がお得です♪" src="https://static.mercdn.net/thumb/photos/m24123911476_1.jpg?1580644553">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          ダブルガーゼハンカチ★ハンドメイド★２枚セット
          <hr>
          <img data-src="https://static.mercdn.net/thumb/photos/m24123911476_1.jpg?1580644553" class=" lazyloaded" alt="(35)ダブルガーゼハンカチ★ハンドメイド★２枚セット＊＊複数購入がお得です♪" src="https://static.mercdn.net/thumb/photos/m24123911476_1.jpg?1580644553">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          ANAお手拭き
          <hr>
          <img data-src="https://static.mercdn.net/thumb/photos/m43798422319_1.jpg?1580829888" class=" lazyloaded" alt="ANAお手拭き" src="https://static.mercdn.net/thumb/photos/m43798422319_1.jpg?1580829888">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          サマンサタバサ ハンドバッグ
          <hr>
          <img data-src="https://static.mercdn.net/thumb/photos/m48919852193_1.jpg?1580194666" class=" lazyloaded" alt="サマンサタバサ ハンドバッグ" src="https://static.mercdn.net/thumb/photos/m48919852193_1.jpg?1580194666">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
      
{% endblock %}
