{% extends "layout.html" %}

{% block body %}
<div class="content">
  <script type="text/javascript" language="javascript">
   
    document.addEventListener('keypress', (event) => {
      var keyName = event.key;
      console.log(`keypress:${keyName}`);

      if(keyName=='f'){
        console.log('press f');
        imgNext(1)
      }

      if(keyName=='j'){
        console.log('press f');
        imgNext(2)
      }

      if(keyName=='k'){
        console.log('press k');
        imgNext(0)
      }
    });
    

  </script>


  <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next0" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>NEXT</b><br>
        </button>
      </form>  
    </div>
    

    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_back" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>BACK</b><br>
        </button>
      </form>  
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/save_data">
        <button class="btn btn-primary btn-block alert2" type="submit" onclick="demo.showNotification2('top','left', 'save data')">
          <b>データの読み込み</b><br>
        </button>
      </form>  
    </div>

    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/save_data">
        <button class="btn btn-primary btn-block alert2" type="submit" onclick="demo.showNotification2('top','left', 'save data')">
          <b>データの保存</b><br>
        </button>
      </form>  
    </div>

  </div>

  <div class="row">
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_hc'] }}-{{ msg['type1'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>HC 隠れていない</b><br>
        </button>
      </form>  
    </div>
  
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_hc'] }}-{{ msg['type2'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>HC 隠れている</b><br>
        </button>
      </form>  
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_to'] }}-{{ msg['type2'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>TO 隠れていない</b><br>
        </button>
      </form>  
    </div>
  
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_to'] }}-{{ msg['type1'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>TO 隠れている</b><br>
        </button>
      </form>  
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_ms'] }}-{{ msg['type1'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>MS 隠れていない</b><br>
        </button>
      </form>  
    </div>
  
    <div class="col-lg-2 col-md-6 col-sm-6">
      <form action="/skeleton_next{{ msg['output_ms'] }}-{{ msg['type2'] }}" method="POST">
        <button class="btn btn-warning btn-block alert2" type="submit">
          <b>MS 隠れている</b><br>
        </button>
      </form>  
    </div>
  </div>


  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="card card-stats">
        <div class="card-body" id='js-target'>
          <ul id="imgName" >{{ msg['img_name'] }}</ul>
          <hr>
          <div class="img_preview">
            <img src="data:image/png;base64,{{ img64['img_data'] }}" alt="img_data"  id="imgslot" class="skel_img"/>
            {% for skel_name, skel_key in msg['skel_name_key'] %}
              <div class="skel_point" id="{{ skel_key }}p"></div>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <div id="imgState"><i class="fa fa-refresh"></i>{{ msg['img_path'] }}</div> 
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="card card-stats">
        <div class="card-body check_box_anotate ">
          {% for skel_name, skel_key in msg['skel_name_key'] %}
            <input type="checkbox" id="{{ skel_key }}" value="{{ skel_key }}" onchange="myfunc(this.value, this.checked)"/>
            <label for="{{ skel_key }}" class="check_box_anotate">{{ skel_name }}</label>......<span class="skel_pos" id="{{ skel_key }}xy">(0,0)</span><hr class="skel_hr">
          {% endfor %}
          x:<span id="pos_x">0</span>  y:<span id="pos_y">0</span>
          <hr class="skel_hr">
          <input class="form-control" type="number" placeholder="count" value="0" name="save_count">
          <button class="btn btn-primary btn-block alert2" type="submit" onclick="demo.showNotification2('top','left', 'save data')">
            <b>確定</b><br>
          </button>
        </div>
      </div>

    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <ul class="side_text">現在の画像</ul>
          <hr>
          <center>
            <h3>{{ msg['count'] }}/{{ msg['path_len'] }}枚</h3>
          </center>
          <hr>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{ msg['pvalue'] }}%;">
              <b>{{ msg['pvalue'] }}%</b>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="card card-stats">
        <div class="card-body ">
          <ul class="side_text">隠れていない画像</ulclass="side_text">
          <hr>
          <center>
            <h3>{{ msg['path1_len'] }}枚</h3>
          </center>
          <hr>
        </div>
      </div>

      <div class="card card-stats">
        <div class="card-body ">
          <ul class="side_text">隠れている画像</ul>
          <hr>
          <center>
            <h3>{{ msg['path2_len'] }}枚</h3>
            {{ msg['skel_key_dump'] }}
          </center>
          <hr>
        </div>
      </div>
    </div>
  </div>
   
  </form>


</div>


<script type="text/javascript" language="javascript">
  let target = document.getElementById('js-target');
  // 要素を取得
  var divElement = document.getElementById('js-target') ;


  target.addEventListener('mousemove', getPosition);

  function getPosition(e) {
    let offsetX = e.offsetX; // =>要素左上からのx座標
    let offsetY = e.offsetY; // =>要素左上からのy座標
    let pageX = e.pageX; // =>ウィンドウ左上からのx座標
    let pageY = e.pageY; // =>ウィンドウ左上からのy座標
    let clientX = e.clientX; // =>ページ左上からのx座標
    let clientY = e.clientY; // =>ページ左上からのy座標

    $("#pos_x").text(offsetX);
    $("#pos_y").text(offsetY);
  }


  var target_skel_key = '#skel1xy';
  var target_key = 'skel1';

  target.addEventListener('click', setPosition);

  function setPosition(e) {
    let offsetX = e.offsetX; // =>要素左上からのx座標
    let offsetY = e.offsetY; // =>要素左上からのy座標
    let pageX = e.pageX; // =>ウィンドウ左上からのx座標
    let pageY = e.pageY; // =>ウィンドウ左上からのy座標
    let clientX = e.clientX; // =>ページ左上からのx座標
    let clientY = e.clientY; // =>ページ左上からのy座標

    $(target_skel_key).text('( ' + offsetX + ' , ' + offsetY + ' )');

    var target_point = target_key + "p"
    console.log("move point:" + target_point);

    var element = document.getElementById(target_point); 
    element.style.left = offsetX + 'px'; 
    element.style.top  = offsetY + 'px'; 

  }

  // 処理を定義
  var action = function() {
    
  }

  // イベントを設定 ( addEventListener )
  divElement.addEventListener( "mousemove", action ) ;
  //<button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Top Left</button>

  function myfunc(key, flag) {
    console.log("Key:" + key + " flag:" + flag);
    if(flag){
      target_skel_key = "#" + key + "xy";
      target_key = key
      console.log("target_skel_key:" + target_skel_key);
    }
  }


  console.log("querySelectorAll");
  var b=document.querySelectorAll(".skel_pos");
  console.log(b);
  console.log(b[0]);
  console.log(b[0].id);
  var x = b[0].innerHTML.split(',')[0].split('(')[1];
  var y = b[0].innerHTML.split(',')[1].split(')')[0];
  console.log(x);
  console.log(y);
  for(var i=0;i<b.length;i++){
    console.log(b[i].innerHTML);
  }


</script>
      
{% endblock %}
